body {
    background-image: url("shutterstock_596854622-03f72bb6898d.jpg");
    background-color: #cccccc;
}
.menu {
    font-family: 'arial', sans-serif;
    padding: 0 0 0 50px;
}
.navigation {
    background-color: rgb(255, 255, 255);
    padding: 0px 30px;
    border-bottom: 3px solid white;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
}
.navigation ul {
    list-style-type: none;
    padding: 0;
}
.navigation a {
    display:block;
    padding: 10px;
    text-decoration: none;
}
.navigation label {
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 56px;
    display: block;
    cursor: pointer;
    background: url(menu.png) no-repeat left center;
    padding: 10px 0 10px 50px;
}
input#menu {
    display: none;
}

.menu {
    max-height: 0;
    overflow: hidden;
    font-family: 'arial', sans-serif;
    padding: 0 0 0 50px;
}
input:checked  label {
    background-image: url(cancel.png);
}
input:checked ~ .menu-content {
    max-height: 100%;
}