*{
    text-decoration: none;
}
html
{
    text-align: center;
}

body {
    background-image: url("background.jpg");
    font-size:30px;
}

.pirate {
    border: solid black 2px ;
}

.text
{
    background-color: azure;
    border: solid black 2px;
    padding: 4px;
}

.HelpParagraph
{
    background-color: azure;
    border: solid black 2px;
    padding: 4px;
}

button{
    font-size:25px;
}
